.app_header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #dcdcdc;
  }
  
  .app_header > form {
    width: 45%;
  }
  
  .order_input {
    font-size: 20px;
    font-weight: 500;
    background: #f9f9f9;
    color: #000;
    border: 1px solid #dfe3e6;
    border-radius: 5px;
    padding: 8px 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .order_input::placeholder {
    color: #686868;
  }
  
  .order_form_bottom_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .payment {
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #999;
    border-radius: 8px;
    width: 210px;
    height: 40px;
    padding: 0 5px;
  }
  
  .order_submit {
    font-size: 16px;
    font-weight: 500;
    background-color: #6457f9;
    color: #fff;
    border-radius: 5px;
    height: 40px;
    padding: 3px 13px;
    margin-left: 10px;
    margin-bottom: 15px;
    border: none;
    cursor: pointer;
  }
  
  .order_submit:hover {
    opacity: 80%;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    font-size: 50px;
    gap: 15px;
    padding-right: 120px;
  }
  
  /* Style the logo */
  .logo {
    height: 180px;
  }
  