.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app_main {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}

.order_column {
  width: 33.33%;
  margin: 20px;
}

/* index.css */
.scroll-hide {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Edge Legacy */
}

.scroll-hide::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important; /* Chrome, Safari, Edge Chromium */
}
