.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app_main {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}

.order_column {
  width: 33.33%;
  margin: 20px;
}
